employer/__pycache__/urls.cpython-310.pyc
employer/__pycache__/views.cpython-310.pyc
employer/migrations/0001_initial.py
employer/migrations/0006_job_deadline.py

jobportal/__pycache__/*
jobseeker/__pycache__/*
core/__pycache__/*
core/migrations/__pycache__/
jobseeker/migrations/__pycache__/

.gitignore
employer/__pycache__/*

__pycache__/*

utility.html

employer/__pycache__/urls.cpython-310.pyc
employer/__pycache__/views.cpython-310.pyc
debug.log
employer/migrations/0002_alter_employer_emp_password.py
media/employer-profile/*

employer/migrations/0003_alter_employer_emp_profile.py
employer/migrations/0004_alter_employer_emp_profile.py
employer/migrations/0005_alter_employer_emp_profile.py
jobseeker/migrations/0001_initial.py


media/jobseeker-cv/
media/jobseeker-profile/

help.txt