:root{
    --color-primary:#832bf0;
    --color-primary-hover:#863be2;
    --color-secondary:#3a0ca3;
    --color-light:#83c5be;
    --color-red:#d90429;
    --color-red-hover:#dd2d4be3;
    --color-dark:#14213d;
    --color-grey:#a1a1a1;
    --color-white:#fff;
}
#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--color-dark);
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  .sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
  }
  .sidebar-brand span {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-white);
  }
  
  .sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
  }
  .sidebar-nav > li a {
    display: block;
    text-decoration: none;
    color: var(--color-white);

    font-size: 15px;
  }
  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-primary-hover);
  }
  .sidebar-nav > li > a i.fa {
    font-size: 24px;
    width: 60px;
  }
  
  #navbar-wrapper {
      width: 100%;
      position: absolute;
      z-index: 2;
  }
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -350px;
  }
  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: var(--color-white);
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #navbar-wrapper .navbar a {
    color: var(--color-primary-hover);
  }
  #navbar-wrapper .navbar a:hover {
    color: var(--color-secondary);
  }
  
  #content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  @media (min-width: 992px) {
    #wrapper {
      padding-left: 250px;
    }
    
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 60px;
    }
    
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
  
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }