:root{
    --color-primary:#832bf0;
    --color-primary-hover:#863be280;
    --color-secondary:#3a0ca3;
    --color-light:#83c5be;
    --color-red:#d90429;
    --color-red-hover:#dd2d4be3;
    --color-dark:#14213d;
    --color-grey:#a1a1a1;
    --color-white:#fff;
}
