{% extends "../index.html" %}

{% block content %}
<div class="container">
  <h1 class="fs-4">All Applicants</h1>
  <div class="container shadow-lg p-3 mb-5 bg-body-tertiary border">
    <div class="d-flex justify-content-start">
        <a href="#" class="bg-primary text-white p-1 rounded mx-1" id="toggle_update">
            <i class="fas fa-pen mx-1"></i>
            Filter</a>
        <a href="#" class="bg-primary text-white p-1 rounded mx-1">
            <i class="fas fa-search mx-1"></i>
            Search</a>
    </div>  
</div>
  <div class="mt-5">

    <table class="table">
      <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Job</th>
        <th scope="col">Cover Letter</th>
        <th scope="col">Scores</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if message %}
      <tr>
        <th scope="row text-center" colspan="8">
          <div class="alert alert-primary" role="alert">
            {{message}}
          </div>
        </th>
      </tr>
      {%else%}
      {% for job,applicants in data.items %}
      {% for applicant in applicants %}
      <tr>
        <th scope="row">{{ forloop.counter}}</th>
        <td>
          <a href="{% url 'view_jobseeker' id=applicant.job_seeker.id %}"> {{applicant.job_seeker.name}}</a>
        </td>
        <td>{{applicant.job_seeker.email}}</td>
        <td>{{applicant.job_seeker.phone}}</td>
        <td>{{applicant.job|truncatechars:15}}</td>
        <td>{{applicant.coverletter | safe |truncatechars:15}}</td>
        <td>{{applicant.score}}</td>
        <td>
          <i class="fas fa-check"></i>
          <i class="fas fa-x ms-3"></i>
        </td>
      </tr>
      {%endfor%}
      {%endfor%}
  
      {%endif%}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}