<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary mb-3">
    <div class="flex-row d-flex">
        <button type="button" class="navbar-toggler mx-2 mr-2 " data-toggle="offcanvas" title="Toggle responsive left sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-5" href="#" title="Admin">Employer Area</a>
    </div>

    <div class="ms-auto mx-4">
        <a href="#" class="text-white name">John and Danny</a>
    </div>
   
</nav>