{% extends "../index.html" %}

{% block content %}
    <h1 class="fs-4 fw-semibold"><u>Post Jobs</u></h1>
    <div class="row d-flex flex-col">
        <div class="col-md-6 mb-4 mt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-primary text-white" data-bs-toggle="modal" data-bs-target="#postjob">
                <i class="fas fa-plus"></i>Add Jobs
            </button>
  
        </div>
        <div class="col-md-6">

        </div>
        <div>
            <!-- table here -->
            <!-- id, type , position, requirement description, salary, location type -->
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Type</th>
                    <th scope="col">Position</th>
                    <th scope="col">Requirement</th>
                    <th scope="col">Description</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                            <div class="flex flex-md-col flex-sm-row">
                                <a href="#" class="mx-2">
                                    <i class="fas fa-pen text-blue"></i>
                                </a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#deletejob">
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                            </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="postjob" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="Label">Post Jobs</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="#" id="jobform" method="POST">
                {%csrf_token%}
                <select class="form-select border border-black" id="job_type" name="job-type" aria-label="Default select example">
                    <option selected>Job Type</option>
                    {% for types in job_type %}
                        <option value="{{types.0}}">{{types.1}}</option>
                    {% endfor %}
                </select>
                <div class="mb-2 mt-1">
                  <label for="position" class="form-label">Position</label>
                  <input type="text" class=" border border-black form-control" id="position" required>
                </div>
                <div class="mb-2">
                  <label for="requirement" class="form-label">Requirements</label>
                  <input type="text" class=" border border-black form-control" id="requirement" required>
                </div>
                <div class="mb-2">
                  <label for="description" class="form-label">Description</label>
                  <textarea id="description" class="border border-black form-control" rows="3"  required></textarea>
                </div>
                <div class="mb-2">
                  <label for="salary" class="form-label">Salary</label>
                  <input type="text" class=" border border-black form-control" id="salary" required>
                </div>
                <div class="mb-2">
                  <label for="deadline" class="form-label">Deadline</label>
                  <input type="date" class=" border border-black form-control" id="deadline" required>
                </div>
                <select class="form-select border border-black" id="loc_type" aria-label="Default select example">
                    <option selected>Location Type</option>
                    {% for types in loc_type %}
                        <option value="{{types.0}}">{{types.1}}</option>
                    {% endfor %}
                </select>

              </div>
            <div class="modal-footer">
              <button type="button" class=" bg-danger btn text-white" data-bs-dismiss="modal">Close</button>
              <button type="button" id="addjob" class="bg-primary btn text-white">Add Job</button>
            </div>
          </form>
          </div>
        </div>
      </div> 
    <!-- Ends Modal -->
    <!-- Modal -->
    <div class="modal fade" id="deletejob" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="Label">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Confirm delete?
            </div>
            <div class="modal-footer">
              <button type="button" class=" bg-danger btn text-white" data-bs-dismiss="modal">No</button>
              <button type="button" class=" bg-primary btn text-white">Yes</button>
            </div>
          </div>
        </div>
      </div> 
    <!-- Ends Modal -->
{% endblock content %}
