{% extends "../index.html" %}

{% block content %}
<h1 class="fs-4 fw-semibold mt-2 mx-4">Your Listings : </h1>
<div class="row d-flex flex-col">
      <div class="container">
        <div class="row row-cols-3 mx-3">
          {% for job in jobs%}
          <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{job.job_position}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary fw-bold">By - {{job.employer.emp_name}}</h6>
              <p class="card-text">{{job.job_description |truncatewords:20 | safe}}</p>
              <a href="{%url 'viewquestions' id=job.job_id%}" class="card-link">See More</a>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
{% endblock %}