<div class="container-fluid" id="main">
<div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-primary" id="sidebar" role="navigation">
        <ul class="nav flex-column sticky-top pl-5 pt-5 fixed" style="height:100vh !important;">
            <li class="nav-item"><a class="nav-link text-white " href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Company Profile</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Analytics</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Jobs</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Questions</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Applicants</a></li>
            
        </ul>
    </div>