{% extends "../index.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div>
            Job posted by {{job.employer.emp_name}}
          </div>
          <div>
            <a href="{% url 'viewfinalcandidates' job.job_id %}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View Shortlisted Candidates">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
            <h1 class="card-title fs-5">{{job.job_position}}</h1>
            <h5 class="card-text fs-6">{{job.location_type}}</h5>
          <h5 class="card-title fs-6">{{job.job_type}}</h5>
          <h5 class="card-title fs-6 fw-bold">{{job.salary}}</h5>
          <p class="card-text">{{job.job_description | safe}}</p>
          <p class="card-text text-danger"> Deadline: &nbsp;{{job.deadline}}</p>
          {% if allowadd %}
          <a href="#" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addQuestions">Add Questions</a>
          {%else%}
          <a href="#" class="btn btn-danger"  data-bs-toggle="modal" style="cursor:not-allowed;">Add Questions</a>
          <span class="text-danger small d-block mt-1">Job is expired.</span>
          {%endif%}
        </div>
    </div>
    <div class="my-4">
        <h5 class="fw-bold">Questions</h5>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Question</th>
            <th scope="col">Correct Answer</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% if message %}
          <tr>
            <th scope="row" colspan="4">
                <div class="alert alert-danger" role="alert">
                   {{message}}
                  </div>
            </th>
          </tr>
          {%else%}
          {% for question in pages %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{question.question | truncatewords:15 }}</td>
            <td>{{question.correct_answer}}</td>
            <td>
                <div class="d-flex flex-col">
                    <a href="#" class="mx-1 bg-danger p-1 rounded text-light"><i class="fas fa-trash"></i></a>
                    <a href="#" class="bg-success p-1 rounded text-light"><i class="fas fa-pen"></i></a>
                </div>
            </td>
          </tr>
          {%endfor%}
          {%endif%}
        </tbody>
    </table>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {%if pages.has_previous%}
                      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{pages.previous_page_number}}">Previous</a></li>
                        {%endif%}
                        {% for n in pagelist%}
                      <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                        {%endfor%}
                      {% if pages.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{pages.next_page_number}}">Next</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{lastpage}}">Last</a></li>
                      {%endif%}
                    </ul>
                  </nav>
                </div>
            </div>
    </div>
    <div class="container mt-2">
        <h5 class="mx-2 fs-5 fw-bold mb-2 mt-2">Applicants</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Cover Letter</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if applicant_not_found %}
            <tr>
              <th scope="row" colspan="5">{{applicant_not_found}}</th>
            </tr>
            {%else%}
            {% for applicant in applicants %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>
                <a href="{% url 'view_jobseeker' id=applicant.job_seeker.id %}"> {{applicant.job_seeker.name}}</a>
              </td>
              <td>{{applicant.job_seeker.email}}</td>
              <td>{{applicant.coverletter|safe|truncatewords:5 }} </td>
              
              <td>
                <div class="d-flex">
                  <a href="{% url 'viewprogress' applicant.job_seeker.id job.job_id %}">View</a>
                </div>
              </td>
            </tr>
            {%endfor%}
            {%endif%}
          </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addQuestions" tabindex="-1" aria-labelledby="addQuestions" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Questions</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <span class="small text-danger">** One Option field must contain correct answer.(Other than Correct Answer)</span>
            </div>
          <form action="#" method="post">
            {% csrf_token %}
                <input type="hidden" class="form-control" id="job_id" name="job_id" value="{{job.job_id}}" disabled>
            <div class="form-floating mb-1" required>
                <input type="text" class="form-control" id="question" name="job_id" placeholder="Question">
                <label for="question">Question</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="correctAnswer" name="correctAnswer" placeholder="Correct Answer" required>
                <label for="correctAnswer">Correct Answer</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="opt_1" name="opt_1" placeholder="Option 1" required>
                <label for="opt_1">Option 1</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="opt_2" name="opt_2" placeholder="Option 2" required>
                <label for="opt_2">Option 2</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="opt_3" name="opt_3" placeholder="Option 3" required>
                <label for="opt_3">Option 3</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="opt_4" name="opt_4" placeholder="Option 4" required>
                <label for="opt_4">Option 4</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary p-1"  data-bs-dismiss="modal">Close</button>
          <button type="button" id="addQuestion" class="bg-primary p-1 text-light border rounded">Add Questions</button>
        </div>
      </div>
    </div>
  </div>
 
{% endblock content %}

{% block script%}
{%load static%}
<script type="module" src="{% static 'js/addQuestions.js' %}"></script>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{%endblock%}