{% include '../base/header.html' %}
    {% block style %}
        {% load static %}
        <link rel="stylesheet" href="{%static 'css/jobseeker.css'%}">
    {% endblock style %}

    {% block navbar %}
        {% include './components/navbar.html' %}    
    {% endblock navbar %}

    {%block content%}
    <div class="container">

        <div class="mt-5">
            <span class="fs-5 mx-2">Suggested for you</span>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    {% for item in job %}
                    <div class="row row-cols-3">
                       
                        <div class="card mb-2 mx-2" style="width: 18rem;">
                            <div class="card-body" style="text-align:justify;text-justify:inter-word;">
                                <h5 class="card-title">{{item.job_position}}</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{item.location_type}}</h6>
                                <p class="card-text justified">{{item.job_description |truncatewords:20}}<p>
                                <h6 class="card-subtitle mb-2 small text-danger">Deadline: {{item.deadline}}</h6>
                                    
                                    <a href="browsejob/{{item.job_id}}" class="card-link bg-primary text-white p-1 rounded">Browse Job</a>
                                    {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
                                </div>
                            </div>
                         </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
    {%endblock content%}

{% include '../base/footer.html' %}
