{% include '../base/header.html' %}
    {% block style %}
        {% load static %}
        <link rel="stylesheet" href="{%static 'css/jobseeker.css'%}">
    {% endblock style %}

    {% block navbar %}
        {% include './components/navbar.html' %}    
    {% endblock navbar %}

    {%block content%}
    <div class="container">

        <div class="mt-5">
            <div class="d-flex col md-6 justify-content-between">
                <div>
                    <span class="fs-5 mx-2">Total Job Listings</span>
                </div>
                <div class="col-md-6">
                    {% if error_message %}
                    <span class="small text-danger">{{error_message}}</span>
                    {%endif%}
                        <form class="input-group mb-3" action="{% url 'searchjobs' %}" method="POST" id="searchForm">
                            {%csrf_token%}
                            <input type="text" class="form-control" name="jobName" placeholder="Enter Job Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button id="search" class="input-group-text"><i class="fas fa-search"></i></button>
                        </form>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-cols-3">
                        {% for item in pages %}
                       
                        <div class="card mb-2 mx-2" style="width: 18rem;">
                            <div class="card-body" style="text-align:justify;text-justify:inter-word;">
                                <h5 class="card-title">{{item.job_position}}</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{item.location_type}}</h6>
                                <p class="card-text justified">{{item.job_description |truncatewords:20}}<p>
                                <h6 class="card-subtitle mb-2 small text-danger">Deadline: {{item.deadline}}</h6>
                                    
                                    <a href="browsejob/{{item.job_id}}" class="card-link bg-primary text-white p-1 rounded">Browse Job</a>
                                    {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
                                </div>
                            </div>
                            {%empty%}
                            <h1 class="fs-5"> No data found.</h5>
                            {% endfor %}
                            
                         </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="container mt-5">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {%if pages.has_previous %}
                     <li class="page-item"><a class="page-link" href="/jobseeker/?page=1">First</a></li>
                     <li class="page-item"><a class="page-link" href="/jobseeker/?page={{pages.previous_page_number}}">Previous</a></li>
                {%endif%}
                {%for n in pagelist%}
                    <li class="page-item"><a class="page-link" href="/jobseeker/?page={{n}}">{{n}}</a></li>
                {%endfor%}
                
                {%if pages.has_next %}
                <li class="page-item"><a class="page-link" href="/jobseeker/?page={{pages.next_page_number}}">Next</a></li>
                <li class="page-item"><a class="page-link" href="/jobseeker/?page={{lastpage}}">Last</a></li>
                {%endif%}
            </ul>
          </nav>
    </div>
    {%endblock content%}

    {% block script %}
        <script>
            $(function(){
                form = $('#searchForm')
                btn = $('#search')
                $(btn).on('click',function(){
                    $(form).submit()
                })
            })
            
        </script>
    {% endblock script %}

{% include '../base/footer.html' %}
