{% extends "../base/base.html" %}

{% block content %}
<div class="container-fluid p-1 shadow">
    <h1 class="fs-5 mx-5 p-2">Hello, {{jobseeker}} !</h1>
</div>
<div class="container-fluid">
    <div class="mx-5 mt-4">
        {% if message%}
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {%else%}
        {% for question in questions %}
            <form action="#" method="post">
                <p>{{forloop.counter}}&nbsp;{{question.question}}</p>
                <input type="hidden" id="correctAnswer" value="{{question.correct_answer}}">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option" id="option1">
                    <label class="form-check-label" for="option1">
                      {{question.option_one}}
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option" id="option2">
                    <label class="form-check-label" for="option2">
                      {{question.option_two}}
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option" id="option3">
                    <label class="form-check-label" for="option3">
                      {{question.option_three}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option" id="option4">
                    <label class="form-check-label" for="option4">
                      {{question.option_four}}
                    </label>
                </div>
            </form>
            <hr class="border opacity-75 border-black">
        {%endfor%}
        {%endif%}
        <form action="#" method="post">
            {%csrf_token%}
            <input type="submit" value="Submit" id="submit" class="p-2 mb-2 bg-primary border text-light rounded">
        </form>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
   var options = $('[name="option"]')
   $(function(){
        

   })
</script>
{% endblock %}
