{% extends '../dashboard.html' %}

{%block content%}
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
              <h5 class="card-title mb-3">About Job</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Position:<b> {{data.job_position}}</b></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">Requirements: <b> {{data.job_requirement}}</b></h6>
              <h6 class="fs-5 fw-bold mt-3 " ><u>Description</u></h6>
              <p class="card-text">{{data.job_description}}</p>
              <p class="card-text">Salary:&nbsp; <b>{{data.salary}}</b></p>
              <p class="card-text">Type: <b>{{data.location_type}}</b></p>
              <p class="card-text mt-2 mb-3 text-danger">Open Till: {{data.deadline}}</p>
              <a href="{% url 'view_employer' data.employer.emp_id %}" class="card-link d-block mb-3">Employer : {{data.employer.emp_name}}</a> 
              {% if allowed %}
                <a href="#" data-bs-toggle="modal" data-bs-target="#applyJob" class="m-0 bg-primary p-2 text-white rounded">Apply Job</a>
              {%else%}
              <a href="#"  data-bs-toggle="modal" class="m-0 bg-danger p-2 text-white rounded" aria-disabled="true" style="cursor: not-allowed;">Apply Job</a>
              <span class="p-2 text-success d-block mt-3">{{message}}</span>
              {%endif%}

              {% if allowed_for_quiz %}
                <a class="d-block mt-3" href="{% url 'quiz' data.job_id %}">Give test</a>
              {%else%}
                {{message}}
                  <a class="d-block mt-3" href="{% url 'jobseeker-dashboard' %}"> <i class="fas fa-long-arrow-alt-left"></i> Go Back</a>
                {% endif %}

            </div>
          </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="applyJob" tabindex="-1" aria-labelledby="applyJobModel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Apply Jobs</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST">
          {% csrf_token %}
        <div class="modal-body">
          <input type="text" value="{{data.job_id}}" id="job_id" hidden>
          <label for="coverletter" class="mt-2">Cover Letter</label>
          <div>
            <textarea name="coverletter" id="coverletter" cols="55" rows="10" style="resize: none;outline:none;"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="bg-primary border border-0 p-2 text-white rounded" id="apply">Apply</button>
        </div>
      </div>
    </form>
    </div>
  </div>
{% endblock %}
{%block script%}
{% load static %}
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>

  CKEDITOR.replace('coverletter',{
    toolbar: [
      { name: 'styles', items: ['Bold', 'Italic','Underline'] },
      { name: 'lists', items: ['NumberedList', 'BulletedList'] },
      { name: 'align', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] }
    ],
  })

  $('#apply').on('click',function(event){
    event.preventDefault()
    var editor = CKEDITOR.instances.coverletter
    var coverletter = editor.getData()
    var job_id = $('#job_id').val()
    var csrf = $('input[name=csrfmiddlewaretoken]').val()
    let data = {
      'coverletter':coverletter,
      'job_id':job_id
    }
    $.ajax({
      url:'/jobseeker/applyjob/',
      method:'POST',
      headers:{
        "X-Requested-With": "XMLHttpRequest",
        'Accept':'application/json',
        'Content-Type':'application/json',
        'X-CSRFToken':csrf
      },
      type: "POST",
      data: JSON.stringify(data),
      dataType: 'json',
      success:function(res){
        let message = res.success
        Swal.fire({
          icon:'success',
          title:'Congratulations',
          text:message
        }).then((result)=>{
          if(result.isConfirmed){
            location.reload()
          }
        })
      },
      error:function(res){
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Something went wrong!'
        })
      }
    })
  })


</script>
{% endblock %}