{% extends '../dashboard.html' %}

{%block content%}
    <div class="container my-5 border">
        <div class="p-2 d-flex justify-content-between border-bottom">
            <span class="mx-1 fw-bold">Create Profile</span>
            <span class="bg-purple p-1 rounded text-light cursor-pointer text-white" data-bs-toggle="modal" data-bs-target="#previewProfile">
                Preview
            </span>
        </div>
        <div class="row">
          <div class="col-md-4 border-right">
            <ul class="list-group">
                 
                  {% for item in nav_items %}
                  <li class="list-group-item cursor-pointer">{{item}}</li>
                  {% endfor %}
                </ul>
            </div>
            <div class="col-md-8 border-left">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora expedita ipsam nesciunt illum nemo exercitationem maxime ducimus recusandae dolores amet error quasi, quaerat nisi nihil aliquam hic officia non. Sunt?
            </div>
        </div>
    </div>
{%endblock content%}