<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{data.name}} - Resume</title>
</head>
<body>
  <div class="container" style="display: flex;flex-direction: column;">
    <div>
      <img src="{{data.profile.path}}" style="height:100px;width:100px;object-fit: contain;">

    </div>
    <div>
        <h1>About Me</h1>
        <hr>
        <p>Name: &nbsp;{{data.name}}</p>
        <p>Address: &nbsp;{{data.address}}</p>
        <p>Phone: &nbsp;{{data.phone}}</p>
        <p>Email: &nbsp;{{data.email}}</p>
        
        <h1>Career Objectives</h1>
        <hr>
        <p>{{data.about_me | safe}}</p>
        
        <h1>Education & Trainings</h1>
        <hr>
        <p>{{data.qualification | safe}}</p>

        {% if data.experiences%}
        <h1>Working Experiences</h1>
        <hr>
        <p>{{data.experiences | safe}}</p>
        {%endif%}
        <h1>Job Preferences</h1>
        <hr>
        <p>{{data.preferences}}</p>
    </div>
  </div>
</body>
</html>