{% extends '../dashboard.html' %}

{%block content%}
<div class="container p-5">
    <div class="row">
        <!-- section first starts here -->
        <div class="col-lg-4 bg-purple text-white  custom-border-ii">
            <div class="d-flex align-items-center justify-content-center flex-column p-2">
                <img class="img-thumbnail cv-image" src="https://images.pexels.com/photos/1553783/pexels-photo-1553783.jpeg"  alt="" style="border: none !important;">
            </div>
            <!-- Contact section -->
            <div class=" my-2 mx-3">
                <div class="d-flex flex-column">
                    <span class="fs-5">Contact</span>
                    <hr class="border border-white border-2 opacity-100">
                </div>
                <div>
                    <ul class="list-unstyled d-flex flex-column">
                        <li class=" list-item">
                            <span class="fw-bold d-block">Phone</span>
                            <span>(+977) 123 456 789</span>
                        </li>
                        <li class=" list-item my-2">
                            <span class="fw-bold d-block">Email</span>
                            <span>email@example.com</span>
                        </li>
                        <li class=" list-item my-2">
                            <span class="fw-bold d-block">Address</span>
                            <span> Anywhere, 123 Street.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Contact section Ends -->
            <!-- Education Section -->
            <div class=" my-2 mx-3">
                <div class="d-flex flex-column">
                    <span class="fs-5">Education</span>
                    <hr class="border border-white border-2 opacity-100">
                </div>
                <div>
                    <ul class="list-unstyled d-flex flex-column">
                        <li class="list-item mt-2">
                            <span class="fw-bold d-block">2008</span>
                            <span class="d-block">MCA</span>
                            <span class="d-block">Tribhuvan University</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Education Section Ends here -->
            <!-- Expertise Section  -->
            <div class="my-2 mx-3">
                <div class="d-flex flex-column">
                    <span class="fs-5">Expertise<span/>
                    <hr class="border border-white border-2 opacity-100">
                </div>
                <div>
                    <ul class="d-flex flex-column  text-white">
                        <li class="list-item mt-2">
                            <span>C++</span>
                        </li>
                        <li class="list-item mt-2">
                            <span>Java</span>
                        </li>
                        <li class="list-item mt-2">
                            <span>Python</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Expertise Section Ends here -->
            <!-- Language Section  -->
            <div class="my-2 mx-3">
                <div class="d-flex flex-column">
                    <span class="fs-5">
                        Language
                    </span>
                    <hr class="border border-white border-2 opacity-100">
                </div>
                <ul class="list-unstyled d-flex flex-column">
                    <li class="list-item mt-2">
                        <span> English</span>
                    </li>
                    <li class="list-item mt-2">
                        <span> Nepali</span>
                    </li>
                    <li class="list-item mt-2">
                       <span>  Spanish</span>
                    </li>
                </ul>
            </div>
            <!-- Language Section ends here -->
        </div>
        <!-- First section ends here -->
        <div class="col-lg-6 py-5 custom-border">
            <!-- Profile Starts here -->
            <div class="d-flex flex-column">
                <span class="fs-3 text-black-bolder">John Doe</span>
                <span class="fs-6 text-black">Programmer</span>
                <p class="mt-3">
                    <span class="text-black text-small text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam illo obcaecati omnis molestias quidem nisi maiores culpa recusandae. Quisquam voluptate ullam non iusto molestias vero harum, ex aliquid, enim doloribus repudiandae facilis architecto ratione quia. Quae blanditiis fuga laborum quidem ipsam unde aperiam soluta exercitationem? Ducimus, corrupti vel. Quasi, minima.
                    </span>
                </p>
            </div>
            <!-- Profile Ends here -->
            <!-- Experience Starts here  -->
            <div class="my-1 ">
                <div class="d-flex flex-column">
                    <span class="fs-5 text-black fw-bold">
                        Experiences
                    </span>
                    <hr class="border border-dark border-2 opacity-100">
                </div>
                <div class="flex flex-column">
                    <span class="text-black fw-bold small d-block">
                        2019-2022
                    </span>
                    <span class="text-black fw-bold small d-block">
                        Xxx Company, 123 Street. Anywhere.
                    </span>
                    <span class="text-black fw-bold">
                        Manager
                    </span>
                    <ul class="d-flex flex-column">
                        <li class="list-item mt-1">
                            <span class="text-black">Lorem ipsum dolor sit amet.</span>
                        </li>
                        <li class="list-item mt-1">
                            <span class="text-black">Lorem ipsum dolor sit amet.</span>
                        </li>
                        <li class="list-item mt-1">
                            <span class="text-black">Lorem ipsum dolor sit amet.</span>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-column">
                    <span class="text-black fw-bold small d-block">
                        2019-2022
                    </span>
                    <span class="text-black fw-bold small d-block">
                        Xxx Company, 123 Street. Anywhere.
                    </span>
                    <span class="text-black fw-bold">
                        Manager
                    </span>
                    <ul class="d-flex flex-column">
                        <li class="list-item mt-1">
                            <span class="text-black">Lorem ipsum dolor sit amet.</span>
                        </li>
                        <li class="list-item mt-1">
                            <span class="text-black">Lorem ipsum dolor sit amet.</span>
                        </li>
                        <li class="list-item mt-1">
                            <span class="text-black">Lorem ipsum dolor sit amet.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Experience ends here -->

           <div class="my-1">
                <div class="d-flex flex-column">
                    <span class="fs-5 text-black fw-bold">
                        References
                    </span>
                    <hr class="border border-dark border-2 opacity-100">
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="flex flex-column">
                            <span class="fs-6 text-black fw-bold">Mr. Sharma</span>
                            <span class="small text-black d-block">Chairman</span>
                            <span class="small text-black d-block">Lorem ipsum dolor sit.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}