<div class="coontainer p-5">
    <div class="row">
        <div class="col-lg-4 bg-dark text-white text-center py-4">
            <div class="header-left">
                <img src="https://media.istockphoto.com/id/906808234/photo/handsome-man.jpg?s=612x612&w=0&k=20&c=Ec8IY-ETslaS56vmO77BJyEOpPM1hzJlLbs6xeKRoAc=" alt="" class="img-thumbnail img-rounded mb-2">
                <h1 class="display-5">Rajan Khanal</span>
                <h4 class="lead text-uppercase text-white-50 mb-4">Web Developer</h4>

            </div>

            <div>
                <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill"> Contact </h5>
                <ul class="list-unstyled text-white-50 ml-5 py-2 text-left">
                    <li class="list-item">
                        <i class="fas fa-mobile"></i>
                        +977 9815000000
                    </li>
                    <li class="list-item">
                        <i class="fas fa-envelope"></i>
                        Raju@gmail.com
                    </li>
                    <li class="list-item">
                        <i class="fas fa-location-arrow"></i>
                        Birtamode
                    </li>

                </ul>
            </div>

        </div>
    </div>

</div>