{% extends '../dashboard.html' %}

{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="row row-cols-3">
                    {% for job in pages%}
                    <div class="card mx-1 my-2" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{job.job_position}}</h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary">Posted By: {{job.employer.emp_name}}</h6>
                          <p class="card-text">{{job.job_description | truncatechars:50}}</p>
                          <a href="{% url 'browsejob' job.job_id%}" class="btn btn-primary">Browse Job</a>
                        </div>
                      </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        <nav aria-label="Result Pagination" class="mt-5">
            <ul class="pagination">
                {%if pages.has_previous %}
                     <li class="page-item">
                        <a class="page-link" href="?{{request.GET.urlencode }}&page=1">First</a>
                    </li>
                     <li class="page-item">
                        <a class="page-link" href="?{{request.GET.urlencode}}&page={{pages.previous_page_number}}">Previous</a>
                    </li>
                {%endif%}

                {%if pages.has_next %}
                
                {%for n in page_list%}
                    <li class="page-item"><a class="page-link" href="?{{request.GET.urlencode}}&page={{n}}">{{n}}</a></li>
                {%endfor%}

                <li class="page-item"><a class="page-link" href="?{{request.GET.urlencode}}&page={{pages.next_page_number}}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?{{request.GET.urlencode}}&page={{lastpage}}">Last</a></li>
                {%endif%}
            </ul>
          </nav>

    </div>


{%endblock%}