{% extends "../dashboard.html" %}
{% block content %}
    <div class="container">
        <div class="container-fluid p-3 shadow mt-4 bg-success text-white">
            Jobs you applied.
        </div>
        <div class="container-fluid p-3 mt-3">
            {% if message %}
            <div class="container-fluid p-3 shadow mt-4 bg-danger text-white">
                {{message}}
            </div>
            {%else%}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Position</th>
                    <th scope="col">Employer</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                {%for job in applied_jobs %}
                <tbody>
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>
                        <a href="{% url 'browsejob' id=job.job.job_id %}">
                            {{job.job.job_position}}
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'view_employer' employer=job.job.employer.emp_id %}">
                            {{job.job.employer.emp_name}}
                        </a>
                    </td>
                    <td>
                        Applied
                    </td>
                  </tr>
                </tbody>
                {%endfor%}
            </table>
            {%endif%}
        </div>
        <div class="container">
           <h5> Local Openings:</h5>
            <hr>
            {% for item in recommend_jobs%}
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                  <h5 class="card-title">{{item.job_position}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">{{item.location_type}}</h6>
                  <p class="card-text">{{item.job_description | truncatechars:100 |safe}}</p>
                  <a href="{% url 'browsejob' item.job_id %}" class="card-link bg-primary rounded p-1 text-light">Browsejob</a>
                </div>
              </div>
            {%empty%}
            <div class="alert alert-success" role="alert">
                No Local Openings Found.
              </div>
            {%endfor%}
        </div>
    </div>
{% endblock content %}