
<div class="container col-xxl-8 px-4 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
        <div class="col-10 col-sm-8 col-lg-6">
            {% load static %}
            <img src="{% static 'images/banner.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
        </div>
        <div class="col-lg-6">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-5">Empowering Careers.<span class="text-purple"> Unleashing Potential.</span></h2>
                </div>
            </div>

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead justify">Find your perfect job, connect with leading companies, and take the next step towards your professional success.
                    </p>
                </div>
            </div>

            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn-primary-custom px-4 me-md-2" href="/" role="button">Get Started</a>
            </div>

        </div>
    </div>
</div>
