{% extends '../base/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Admin Login</h3>
                </div>
                <div class="panel-body p-3">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-group py-2">
                            <div class="input-field"> <span class="far fa-user p-2"></span>
                                 <input type="email" class="type-email" placeholder="Username or Email" required> 
                            </div>
                        </div>
                        <div class="form-group py-1 pb-2">
                            <div class="input-field">
                                 <span class="fas fa-lock px-2"></span> 
                                 <input type="password" placeholder="Enter your Password" class="type-password" required>
                            </div>
                        </div>
                        <div class="form-inline">
                            <a href="#" id="forgot" class="font-weight-bold">Forgot password?</a> 
                        </div>
                        <button class="btn button btn-block mt-3">Login</>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}