<div id="wrapper">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand border-bottom border-white">
        <div class="d-flex mx-2">
            <span class="text-white fw-bold">Admin Area</span>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="active">
          <a href="#">
            <i class="fa fa-home"></i>
            <span class="mx-1">Home</span>
            </a>
        </li>
        <li>
            <div class="dropdown">
                <a href="#" class=" dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="mx-1">Users</span>
                </a>
                <ul class="dropdown-menu mx-2">
                    <li><a href="#" class="dropdown-item text-black">Job Seekers</a></li>
                    <li><a href="#" class="dropdown-item text-black">Employers</a></li>
                </ul>
            </div>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-chart-pie"></i>
            <span class="mx-1">Statistics</span>
        </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-chart-bar"></i>
            <span class="mx-1">Analytics</span>
        </a>
        </li>
      </ul>
    </aside>
    {% comment %} Toggle icon. {% endcomment %}
    <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
            </div>
          </div>
        </nav>
      </div>